.header {
	height: 10vh;
	background-color: #252525;
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 2rem;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-top: 2rem;
}

.column-left {
	width: 20%;
	height: auto;
	padding: 1rem;
}

.column-right {
	width: 40%;
	padding: 1rem;
}

.column-left li a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 1px;
}

.preview-column {
	padding: 2rem;
	background-color: #252525;
	margin: 2rem;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.preview-row {
	padding: 2rem;
	background-color: #252525;
	margin: 2rem;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	flex-wrap: wrap;
	gap: 1rem;
}

.box {
	background-color: #151515;
	border-radius: 8px;
}

.code-container {
	padding: 1rem;
	background-color: #252525;
	margin: 2rem;
	border-radius: 8px;
}

.copy-code {
	width: 100%;
	margin-bottom: 1rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.copy-code a {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	justify-content: center;
	font-size: 0.8rem;
	font-family: monospace;
}

.material-symbols-rounded {
	font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 16;
}

.code {
	padding: 1rem;
	background-color: #151515;
	border-radius: 0 0 8px 8px;
}

dl {
	margin-left: 2rem;
}
